/* -------------------------------The whole body---------------------------------- */
body {
    text-align: center;
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(289deg 100% 21%) 25%,
        hsl(315deg 100% 27%) 50%,
        hsl(329deg 100% 36%) 75%,
        hsl(337deg 100% 43%) 100%
      );
}

form {
    height: 200px;
    padding-top: 50px;
}

main {
    height: 350px;
}


/* -------------------------------The texts---------------------------------------- */
.lbl {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 100;   
    -webkit-text-stroke: 0.1px black;
    -webkit-font-smoothing: antialiased;    
}

.textarea_style {
    margin-top: 40px;
}

.conversions {
    color: white;
    background-color: #1F2937;
    -webkit-text-stroke: 0.1px black;
    -webkit-font-smoothing: antialiased; 
    margin-right: -8px;
    margin-left: -9px;
    padding-bottom: 42px;
    margin-bottom: -50px;
}

h2 {
    text-align: center;
    padding-top: 20px;
    font-weight: light;
    font-size: 24px;
}

h3 {
    margin-top: 30px;
    font-size: 70px;
    color: white;
}

p {
    font-size: 15px;
    font-weight: lighter;
}

button {
    background-color: rgb(101,1,168);
}